In [10]:
import pandas as pd 
ratings= pd.read_csv("/Users/akriti/Desktop/development/Datasets/movie_collab/ratings.csv")
movies= pd.read_csv("/Users/akriti/Desktop/development/Datasets/movie_collab/movies.csv")
data= pd.merge(movies,ratings).drop(['genres','timestamp'],axis=1)
data.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [11]:
user_ratings= data.pivot_table(index=['userId'],columns=['title'],values='rating')
user_ratings.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
user_ratings= user_ratings.dropna(thresh=100,axis=1).fillna(0)# axis is 1 as we are working on columns

In [14]:

item_similarity_df = user_ratings.corr(method='pearson')
item_similarity_df.head()

title,2001: A Space Odyssey (1968),Ace Ventura: Pet Detective (1994),Aladdin (1992),Alien (1979),Aliens (1986),"Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",American Beauty (1999),American History X (1998),American Pie (1999),Apocalypse Now (1979),...,"Truman Show, The (1998)",Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Twister (1996),Up (2009),"Usual Suspects, The (1995)",V for Vendetta (2006),WALL·E (2008),Waterworld (1995),Willy Wonka & the Chocolate Factory (1971),X-Men (2000)
title,,,,,,,,,,,,,,,,,,,,,
2001: A Space Odyssey (1968),1.000000,0.093365,0.064172,0.468378,0.468785,0.162375,0.293943,0.186120,0.221741,0.482611,...,0.321607,0.294736,0.039902,0.112019,0.217366,0.236411,0.154781,0.049449,0.152939,0.253038
Ace Ventura: Pet Detective (1994),0.093365,1.000000,0.439563,0.076753,0.059819,0.054948,0.031068,0.099449,0.172472,0.057189,...,0.183306,0.280635,0.217359,0.028556,0.119463,0.127596,0.084289,0.405583,0.185097,0.123630
Aladdin (1992),0.064172,0.439563,1.000000,0.128835,0.126237,-0.046099,0.076052,0.073809,0.160332,0.051258,...,0.227577,0.205107,0.251322,0.099840,0.121152,0.113729,0.078002,0.366898,0.296200,0.231722
Alien (1979),0.468378,0.076753,0.128835,1.000000,0.714246,0.156434,0.352476,0.217054,0.223704,0.394439,...,0.274207,0.301464,0.113692,0.096210,0.226120,0.214158,0.165405,0.114648,0.226991,0.342261
Aliens (1986),0.468785,0.059819,0.126237,0.714246,1.000000,0.102173,0.312925,0.180240,0.210540,0.359446,...,0.223533,0.299817,0.100838,0.086209,0.230797,0.166159,0.140296,0.065398,0.229716,0.312207

In [ ]:
# rest is same